/* COLORS */
$black: #191a24;
$white: #ffffff;
$grey: #8486a9;
$darkgrey: #33354d;

/* FONTS */
$font-thin: 'Roboto-Thin';
$font-light: 'Roboto-Light';
$font-regular: 'Roboto-Regular';
$font-semibold: 'Roboto-Semibold';
$font-bold: 'Roboto-Bold';
$font-extrabold: 'Roboto-Extrabold';
$default-font-color: $black;
$default-line-height: 1.5;